.shares-container__shares-form-container {
    padding: 40px 48px;
    border-top: 5px solid #F8F8F8;
}
.shares-form__shares-form-inputs {
    width: 100%;
    display: flex;
}
.shares-form__shares-form-inputs > div{
    width: 100%;
}
.shares-form-container__shares-form {
    display: flex;
    align-items: center;
}
.shares-form-inputs__amount-container {
    position: relative;
}
.price-container__input  {
    width: 100%;
    height: 30px;

    box-sizing: border-box;

    position: relative;
    border: none;
    background: #faf8fb;
    border-radius: 8px;

    font: var(--font-text);

    color: #4f4e57;
}
.price-container__currency {
    position: absolute;

    z-index: 2;
    cursor: default;

    font-weight: normal;
    color: #4f4e57;
}

.shares-form-inputs__price-container{
    position: relative;
    margin-left: 20px;
}
.price-container__input {
    padding: 6px 10px 6px 0;

    text-align: center;

    font-size: 18px;
    line-height: 18px;
}

.shares-form__btn-container {
    margin-left: 20px;
    width: 50%;
}
.btn-container__btn-add {
    width: 100%;
    height: 40px;

    background: #34BC48;

    color: #FFFFFF;
    font: var(--font-table-title);
    line-height: 18px;

    border-radius: 8px;
    border: none;

    cursor: pointer;
    transition: all 0.15s;
}
.btn-container__btn-add:hover {
    background: #0C9241;
    transition: all 0.15s;
}
.btn-container__btn-add:active,
.btn-container__btn-add:focus {
    background: #054146;
}