.shares-item__value {
    padding-top: 23px;

    font-size: 14px;
    text-align: center;
    color: #7B7B7B;
}
.shares-item__btn-container{
    position: relative;
    text-align: center;
    height: 30px;
}
.btn-container__delete-btn {
    position: absolute;
    top: 12px;
    left: 0;

    font-size: 13px;

    height: 35px;
    width: 35px;

    background-color: #fff;
    border: none;

    color: #eb5757;
    cursor: pointer;

    transform: rotate(0deg);
    transition: font-size 0.09s, transform 0.45s;
}